@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Volkhov:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
 }

 header {
    background-color: #32508b;
    width: 100%;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0px 30px;
   }
.logo-dm {
   height: 95%;
}   

.navbar,
.navbar-list {
   display: flex;
   align-items: center;
   justify-content: center;
}
.navbar {
   gap: 250px;
}
.navbar-list {
   gap: 35px;
   font-size: 18px;
   margin-right: 150px;
}
.navbar-list a{
   color: rgb(240, 243, 245);
}
