@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Volkhov:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
 }

 header {
   background: rgb(131,96,195);
   background: linear-gradient(180deg, #8360c3 13%, #2ebf91 99%);
    width: 100%;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0px 30px;
    position: fixed;
    top: 0;
    z-index: 1;
   }
.logo-dm {
   height: 95%;
}   

.navbar,
.navbar-list {
   display: flex;
   align-items: center;
   justify-content: center;
   
}
.navbar {
   gap: 250px;
}

.navbar i {
   font-size: 36px;
   display: none;
}

#toggle-menu {
   display: none;
}

.navbar-list {
   gap: 35px;
   font-size: 18px;
   margin-right: 150px;
}
.navbar-list a{
   color: #f0f3f5;

}
a:hover {
   font-weight: bolder;
   color: #4d2697;
}

.navbar-list a img{
   width: 85px;
}


main {
   background: #2ebd90;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: rgb(104, 110, 93);
   width: 100%;
   height: ;
}

#hero {
   margin-top: 75px;
   margin left: 500px;
   padding: 0px 0px ;
   max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.hero-eslogan {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 55%;
}

.hero-eslogan h1 {
   font-size: 35px;
   width: 80%;
   min-width: 500px;
}

.hero-eslogan p {
   font-size: 20px;
   width: 80%;
   min-width: 500px;
 }

.hero-eslogan a {
   font-size: 20px;
   background-color: #469c78; 
   width: 100px;
   padding: 10px 0px;
   border-radius: 10px;
   text-align: center;
   border-style: solid ;
   border-color: #468068;
   margin-left: 150px
}

.hero-foto-portada img {
   margin-top: 75px;
   width: 500px;
   padding: 0px;
   border-radius: 90px;
   border-style: solid;
   border-color: #468068 ;
}

#texto-info { 
   padding: 70px 50px ;
   max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0px 170px;
  
}

#texto-info p {
   display: flex;
   justify-content: center;
   text-align: center;
   font-weight: 400;
   font-size: 20px;
   color: rgb(104, 110, 93);

}

#card {
   padding: 45px ;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
   background-color: #54af6f;
   border-style: solid ;
   border-color: #468068;
   border-radius: 15px;
   color: #33633b;
}

.container-cards{
   display: flex;
   flex-direction: row;
   gap: 30px;
   justify-content: center;
   align-items: flex-start;
   flex-wrap: wrap;
}

#card h2 {
   font-weight: 200;
   font-size: 45px;
   text-align: center
   }
   
.info-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 300px;
   height: 500px;
   padding: 15px;
   gap: 20px;
   text-align: center;
   background-color: #499c5e;
   border-style: solid ;
   border-color: #47705f;
   border-radius: 15px;
}


#card img{
   height: auto;
   width: auto;
   max-width: 250px;
   max-height: 250px;
   border-radius: 15px;
   
}

.info-card p {
   font-size: 18px;
   font-weight: 50¡50;
   color: #4b6451;
   display: flex;
   justify-content: center;
   text-align: center;

}

.info-card h3 {
   font-size: 25px;
   font-weight: 200px;
}

footer {
   background: rgb(131,96,195);
   background: linear-gradient(0deg, rgba(131,96,195,1) 0%, rgba(46,191,145,1) 60%);
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-items: center;
   gap: 40px;
   padding: 45px;
}

footer h3 {
   padding-top: 45px;
   margin-bottom: 20px;
   margin-top: 20px;
   font-size: 30px;
   color: #cadbf3;
   display: flex;
   justify-content: center;
}

.footer-list {
display: flex;
justify-content: center;
gap: 20px;
}

.footer-list a {
   font-size: 20px;
   font-weight: 300;
   color: #f0f3f5;
}

a:hover {
   font-weight: bolder;
   color: #4d2697;
}

@media (max-width: 1120px ) {

.hero-foto-portada {
   display: none;
}

.hero-eslogan {
   margin-top: 25px;
   margin-left: 200px;
   gap: 20px;
   width: 55%;
   align-text: center;

}

 h1 {
   font-size: 40px;
   width: 100%;
   min-width: 500px;
}

.hero-eslogan a {
   font-size: 20px
}

.hero-eslogan p {
   font-size: 22px;
   
}

#texto-info p {
   font-size: 23px;
   font-weight: 500;
   
}

}

@media (max-width: 1120px ) {

.hero-eslogan {
   margin-top: 25px;
   margin-left: 100px;
}
.navbar {
   margin-left: 100px;
   gap: 0;
}

#card {
   margin-left: 100px;
   margin-right: 100px;
}

}

@media (max-width: 899px ) {
#texto-info p {
    display: none;
   }

.info-card p {
   font-size: 19px;
   font-weight: 500; }
}



@media (max-width: 820px ) {
.navbar-list {
   position: absolute;
   top: 80px;
   left: 100px;
   width: 80%;
   flex-direction: column;
   background-color: #38685c;
   border: 3px solid #17241c;
   border-top: 0px;
   border-radius: 0px 0px 15px 15px;
   padding: 45px 30px;
   gap: 45px;
   z-index: 1;
   transform: translateX(200%);
   transition: all 0.4s ease-out;
   align-items: center;
}

.navbar-list a {
   font-size: 25px;
}

.navbar-list a img {
   width: 150px;
   height: 150px;
   align-items: center;
   margin-left: 15px;

}

.navbar i {
   display: block;
   cursor: pointer;
}

#toggle-menu:checked + .navbar-list {
   transform: translateX(0%);
   transition: all 0.4s ease-in;
}

.info-card p {
   font-size: 19px;
   font-weight: 500;
   display: flex;
   justify-content: center;
   text-align: center;


}

#card h2 {
   font-weight: 200;
   font-size: 50px;
   text-align: center
}

.card-3 {
   padding:25px;
}

}

@media (max-width: 680px) {
   #texto-info p {
      display: none;
   }

   .hero-eslogan {
      margin-top: 25px;
      margin-left: 0px;
      margin-right: 25px;
   }

}